<section class="form1 cid-sa6uU3iopf" id="form1-c">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-12 col-lg-5">
                <div class="head_block text-white">
                    <h4 class="mbr-section-subtitle mbr-semibold mbr-fonts-style display-4">Stay informed with us</h4>
                    <h3 class="mbr-section-title mb-0 mbr-fonts-style display-5"><strong>Subscribe to our weekly
                        selection of inspirational articles</strong></h3>
                </div>
            </div>
            <div class="col-lg-1 d-none d-lg-block"></div>
            <div class="col-12 col-lg">
                <p class="mbr-text mbr-semibold mbr-fonts-style display-4">Sign up for our Newsletter!</p>
                <div class="subscribe_form" data-form-type="formoid">
                    <!---Formbuilder Form--->
                    <form action="https://mobirise.eu/" method="POST" class="mbr-form form-with-styler"
                          data-form-title="Mobirise Form"><input type="hidden" name="email" data-form-email="true"
                                                                 value="giW8x3zbpW2cfejUX99AXkiL1csyaJh4Kd2VwAAfS1xUeqkqn5LULmfwLvfPJuLfCCFiSWsCsAhcc47OaSFpYjOh1TdTMbjm4JlN9niSHpM6ItfMPK931ao1qhqCO/hG">
                        <div class="row">
                            <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Thanks for
                                filling out the form!
                            </div>
                            <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">
                            </div>
                        </div>
                        <div class="dragArea row">
                            <div class="form-group col-12 col-sm-8" data-for="email">
                                <input type="email" name="email" placeholder="Your email adress" data-form-field="Email"
                                       required="required" class="form-control display-4" id="email-form1-c">
                            </div>
                            <div class="col-12 col-sm-4 input-group-btn mt-3 mt-sm-0">
                                <button type="submit" class="btn btn-primary display-4">Subscribe</button>
                            </div>
                        </div>
                    </form><!---Formbuilder Form--->
                </div>
            </div>
        </div>
    </div>
</section>
