<script src="{{ 'assets/web/assets/jquery/jquery.min.js' | relative_url }}"></script>
<script src="{{ 'assets/popper/popper.min.js' | relative_url }}"></script>
<script src="{{ 'assets/tether/tether.min.js' | relative_url }}"></script>
<script src="{{ 'assets/bootstrap/js/bootstrap.min.js' | relative_url }}"></script>
<script src="{{ 'assets/smoothscroll/smooth-scroll.js' | relative_url }}"></script>
<script src="{{ 'assets/dropdown/js/nav-dropdown.js' | relative_url }}"></script>
<script src="{{ 'assets/dropdown/js/navbar-dropdown.js' | relative_url }}"></script>
<script src="{{ 'assets/touchswipe/jquery.touch-swipe.min.js' | relative_url }}"></script>
<script src="{{ 'assets/as-pie-progress/jquery-as-pie-progress.min.js' | relative_url }}"></script>
<script src="{{ 'assets/theme/js/script.js' | relative_url }}"></script>
<script src="{{ 'assets/formoid.min.js' | relative_url }}"></script>
<script src="{{ 'assets/translate.js' | relative_url }}"></script>
