<section class="footer-bar">
    <div class="container">
        <div class="line"></div>
        <div class="row align-items-baseline">
            <div class="col-3 col-md-3">
                <p class="privacy mbr-fonts-style align-left display-4">
                    <a href="{% link impressum.md %}">Impressum</a>
                </p>
            </div>
            <div class="col-3 col-md-3">
                <p class="privacy mbr-fonts-style align-left display-4">
                    <a href="{% link datenschutz.md %}">Datenschutz</a>
                </p>
            </div>
            <div class="col-6 col-md-6">
                <p class="privacy mbr-fonts-style align-right display-4">{{ site.copyright }}</p>
            </div>
        </div>
    </div>
</section>
