<section class="menu1 navigation" id="menu1-0">
    <nav class="navbar navbar-dropdown navbar-expand-lg">
        <div class="container-fluid">
            <div class="menu_wrapper d-flex">
                <div class="top_menu">
                    <div class="empty"></div>
                    <div class="navbar-brand">
                        <span class="navbar-caption-wrap">
                            <a class="navbar-caption mbr-bold text-primary display-7" href="/">
                                {{ site.title }}<br>
                            </a>
                        </span>
                    </div>
                    <div class="icons-menu">
                        {% if site.facebook_username %}
                        <a href="https://facebook.com/{{ site.facebook_username }}" target="_blank"
                           class="icons-wrapper">
                            <span class="mbr-iconfont p-2 iconfont-facebook iconfont"></span>
                        </a>
                        {% endif %}
                        {% if site.insta_username %}
                        <a href="https://www.instagram.com/{{  site.insta_username }}/" target="_blank"
                           class="icons-wrapper">
                            <span class="mbr-iconfont p-2 iconfont-instagram iconfont"></span>
                        </a>
                        {% endif %}
                        {% if site.twitter_username %}
                        <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank" class="icons-wrapper">
                            <span class="mbr-iconfont p-2 iconfont-twitter iconfont"></span>
                        </a>
                        {% endif %}
                        <ul class="language-switch">
                            <li class="language" data-lang="en">
                                <img src="/assets/flags/uk.svg" alt="Change to english translation">
                            </li>
                            <li class="language" data-lang="de">
                                <img src="/assets/flags/de.svg" alt="Zur deutschen Übersetzung wechseln">
                            </li>
                        </ul>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <div class="hamburger">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </button>
                </div>


                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
                        <li class="nav-item">
                            <a class="nav-link link text-primary display-4" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link text-primary display-4" href="/newsletter">Newsletter</a>
                        </li>

                        {% comment %}
                        <li class="nav-item">
                            <a class="nav-link link text-primary display-4" href="#">Interesting </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link text-primary display-4" href="#">Partnership</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link text-primary display-4" href="#">Contacts</a>
                        </li>
                        {% endcomment %}
                    </ul>

                </div>
            </div>
        </div>
    </nav>
</section>
