@media (max-width: 768px) {
  p {
    font-size: 1.2rem;
  }
}

.language-switch {
  font-size: 3rem;
  margin-bottom: 0;
  list-style-type: none;
  padding-left: 0;
  margin-left: -4px;

  li {
    margin-right: 3rem;
    display: inline-block;

    img {
      width: 3.332rem;
      height: 2rem;
    }
  }
}

p {
  line-height: 1.6;

  + h1, + h2, + h3, + h4, + h5, + h6 {
    margin-top: 4rem;
  }


  // Alle Links sollen die Base Color (türkis) haben
  a {
    text-decoration: underline;
    font-weight: bold;
    color: $base-color;
  }

  a:hover {
    text-decoration: none;
    color: lighten($base-color, 10%);
  }
}

// Links innerhhalb von .text-white (z.B. türkise Box unten) sollen weiß sein
.text-white {
  a {
    color: #ffffff;
  }
}
