.page-content {
  .content {
    padding-top: 3rem;
    padding-bottom: 3rem;



    img {
      &.pull-right {
        float: right;
        width: 50%;
        margin: 0 1em;
      }
    }

    h1, h2, h3, h4, h5, h6 {
      margin-bottom: 2rem;
      text-align: center;
      clear: both;
    }

    @media (min-width: 991px) {
      padding-top: 7rem;

      .navigation .container-fluid {
        min-height: 120px !important;
      }
    }
  }
}
