.page-home {
  .item-content {
    a h2 {
      -webkit-text-stroke: 1px #1aafaf;
      text-shadow: -3px 2px 5px #093636;
      text-shadow: 3px -2px 5px #093636;
    }

    h5 {
      -webkit-text-stroke: 1px #1aafaf;
      text-shadow: -3px 2px 5px #093636;
      text-shadow: 3px -2px 5px #093636;
    }
    h1 {
      -webkit-text-stroke: 1px #1aafaf;
      text-shadow: -3px 2px 5px #093636;
      text-shadow: 3px -2px 5px #093636;
    }
  }

  .item-wrapper {
    aspect-ratio: 32 / 35;
  }
}
