.page-home {
  .item-content {
    a h2 {
      -webkit-text-stroke: 1px rgb(255, 255, 255);
      text-shadow: -3px 2px 5px #1aafaf3b;
      text-shadow: 3px -2px 5px #1aafaf3b;
    }

    h5 {
      -webkit-text-stroke: 1px #1aafaf;
      text-shadow: -3px 2px 5px #1aafaf3b;
      text-shadow: 3px -2px 5px #1aafaf3b;
    }
    h1 {
      -webkit-text-stroke: 1px #1aafaf;
      text-shadow: -3px 2px 5px #1aafaf3b;
      text-shadow: 3px -2px 5px #1aafaf3b;
    }
  }
}
