.page-home {
  .item-content {
    a h2 {
      -webkit-text-stroke: 1px rgb(255, 255, 255);
      text-shadow: grey .15em .15em .15em;
    }

    h5 {
      -webkit-text-stroke: 1px rgb(2, 212, 184);
    }
    h1 {
      -webkit-text-stroke: 1px rgb(2, 212, 184);
    }
  }
}
