---
layout: default
bodyClass: "page-home"
---
<!-- Homepage/ Home Seite-->
<section class="header5 header">
    <div class="pos_rel">
        <div class="main_section_title">
            <div class="empty_content"></div>
            <div class="main_title">
                <h1 class="mbr-section-title mbr-fonts-style mb-0 display-5">
                    <!-- Überschrift Homepage -->
                    <strong lang="de"> Illustratorin &amp; Autorin mit Leidenschaft und Spaß</strong>
                    <strong lang="en"> Illustrator &amp; Author with love and joy</strong>
                </h1>
            </div>
        </div>
        <div class="block-content">
            <div class="text-wrapper text-white intro">
                <!-- language switch auf Homepage -->
                <h3 class="card_title mbr-fonts-style mb-3 display-5 mbr-section-title">
                    <!-- Überschrift Text neben Foto auf Homepage -->
                    <strong>Hi,</strong>
                </h3>
                <div lang="de">
                    <!-- Text neben Foto auf Homepage (deutsch) -->
                    <p class="mbr-text mbr-fonts-style">ich bin Vanessa Phillips, eine Künstlerin aus Koblenz.</p>
                    <p class="mbr-text mbr-fonts-style">
                        Mein Schwerpunkt sind farbenfrohe Illustrationen, die sowohl fantastische als auch
                        wissenschaftliche Geschichten erzählen. Darüber hinaus schreibe und illustriere ich auch meine
                        eigenen Geschichten.</p>
                    <p class="mbr-text mbr-fonts-style">
                        Seit ich klein bin, male ich Bilder, zeichne Charaktere und entwerfe Geschichten mit großer
                        Begeisterung.</p>
                    <p class="mbr-text mbr-fonts-style">
                        Wissen spielerisch zu vermitteln und Konzepte zu verbildlichen ist eine meiner
                        Leidenschaften. Dies gelingt mir besonders gut durch meinen Hintergrund als
                        Elektrotechnik-Ingenieurin und Ausbilderin. Da ich zweisprachig aufgewachsen bin, fühle ich mich
                        sowohl in der deutschen als auch in der englischen Sprache heimisch und bin für Aufträge in
                        beiden Sprachen offen.</p>
                    <p class="mbr-text mbr-fonts-style">
                        In meiner Freizeit beschäftige ich mich viel mit Rollenspielen im Fantasy-Bereich (LARP und
                        Pen&Paper) und lerne immer gerne etwas Neues, besonders über Dinosaurier.</p>
                    <p class="mbr-text mbr-fonts-style">
                        Für Aufträge und Anfragen bin ich unter <a href="mailto:anfrage@phillips-art.de">anfrage@phillips-art.de</a>
                        zu erreichen. Schreibt mir gerne 💚
                    </p>
                </div>
                <div lang="en">
                    <!-- Text neben Foto auf Homepage (englisch) -->
                    <p class="mbr-text mbr-fonts-style">I am Vanessa Phillips, an
                        artist from Koblenz.</p>
                    <p class="mbr-text mbr-fonts-style">
                        My main focus is vivid illustrations that tell fantastic and scientific stories. Beyond that I
                        also illustrate and write my own stories.</p>
                    <p class="mbr-text mbr-fonts-style">
                        Since I was little, I have loved drawing pictures, designing characters and creating
                        stories.</p>
                    <p class="mbr-text mbr-fonts-style">
                        Conveying knowledge in a playful way and visualizing concepts is one of my passions.
                        In particular, thanks to my background as an electrical engineer and instructor.
                        Due to growing up bilingually, I feel at home in both the English and German language and am
                        open to working in both languages.</p>
                    <p class="mbr-text mbr-fonts-style">
                        I spend a lot of my free time playing fantasy role-playing games (LARP
                        and pen&amp;paper)and I enjoy finding out something new, especially about dinosaurs..</p>
                    <p class="mbr-text mbr-fonts-style">
                        For comissions and requests you can email me at:
                        <a href="mailto:anfrage@phillips-art.de">anfrage@phillips-art.de</a>.
                        I'm looking forward to hearing from you 💚
                    </p>
                </div>
            </div>
            <div class="image-wrapper">
                <!-- Picture of me on Home page -->
                <img class="w-100" src="assets/images/Me24.jpg" alt="Mobirise">
            </div>
        </div>
    </div>
</section>

<section class="features7 post-section">
    <div class="container posts">
        <div class="row align-items-end mb-4">
            <div class="col-12 col-sm-6">
                <div class="mbr-section-head">
                    <h2 class="mbr-section-title mb-0 mbr-fonts-style display-5">
                        <strong>Portfolio</strong>
                    </h2>
                </div>
            </div>
        </div>
        <div class="row">
            {% for image in site.posts %}
            <div class="item features-image сol-12 col-lg-6">
                <div class="item-wrapper">
                    <div class="item-img">
                        <a href="{{ image.url }}">
                            <img src="{% thumbnail_img image.thumbnail 500 %}" alt="{{ image.alt }}">
                        </a>
                    </div>
                </div>
                <h5 class="item-title display-7 image-title">
                    <a href="{{ image.url }}"><strong>{{ image.title }}</strong></a>
                </h5>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
