---
layout: default
bodyClass: "page-image"
---
<section class="header1 cid-sabcYtzQHX" id="header1-j">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10">
                <div class="item-wrapper">
                    <h1 class="mbr-section-title mbr-fonts-style display-1">
                        <strong>{{ page.title }}</strong>
                    </h1>

                    <div class="item-img">
                        <img src="{{ page.image | relative_url }}" alt="{{ page.alt }}" title="{{ page.title }}">
                    </div>

                    <div class="post_wrap text-primary">
                        <div class="card_post">
                            <div class="image_post">
                                <img src="{{ page.poster.image | relative_url }}" alt="">
                            </div>
                            <div class="author_post">
                                <p class="author mb-0 mbr-fonts-style display-4">Author</p>
                                <p class="name_author mb-0 mbr-fonts-style display-4">
                                    <strong>{{ page.poster.name }}</strong>
                                </p>
                            </div>
                            <div class="published_post">
                                <p class="publish_date mb-0 mbr-fonts-style display-4">Published</p>
                                <p class="date mb-0 mbr-fonts-style display-4">
                                    <strong>{{ page.date | date_to_long_string}}</strong>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content">
                    {{ content }}
                </div>
            </div>
        </div>
    </div>
</section>
